@model List<ReportingAssistant.DomainModels.Project>

@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<table class="table table-bordered">
    <tr>
        <th style="width:25%">Photo</th>
        <th style="width:15%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {


                <a href="@Url.Action("SeeProjects", "Projects", new {Area="Admin", SortColumn = "ProjectID", IconClass="fa-sort-asc", PageNo=1})">Project ID</a>
                if (ViewBag.SortColumn == "ProjectID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="@Url.Action("SeeProjects", "Projects", new {Area="Admin", SortColumn = "ProjectID", IconClass="fa-sort-desc", PageNo=1})">Project ID</a>

                if (ViewBag.SortColumn == "ProjectID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }

        </th>
        <th style="width:15%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {


                <a href="@Url.Action("SeeProjects", "Projects", new {Area="Admin", SortColumn = "ProjectName", IconClass="fa-sort-asc", PageNo=1})">Project Name</a>
                if (ViewBag.SortColumn == "ProjectName")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="@Url.Action("SeeProjects", "Projects", new {Area="Admin", SortColumn = "ProjectName", IconClass="fa-sort-desc", PageNo=1})">Project Name</a>

                if (ViewBag.SortColumn == "ProjectName")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }

        </th>
        <th style="width:15%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {


                <a href="@Url.Action("SeeProjects", "Projects", new {Area="Admin", SortColumn = "CategoryID", IconClass="fa-sort-asc", PageNo=1})">Category</a>
                if (ViewBag.SortColumn == "CategoryID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="@Url.Action("SeeProjects", "Projects", new {Area="Admin", SortColumn = "CategoryID", IconClass="fa-sort-desc", PageNo=1})">Category</a>

                if (ViewBag.SortColumn == "CategoryID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }

        </th>
        <th style="width:15%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {


                <a href="@Url.Action("SeeProjects", "Projects", new {Area="Admin", SortColumn = "AvailabilityStatus", IconClass="fa-sort-asc", PageNo=1})">Availability Status</a>
                if (ViewBag.SortColumn == "AvailabilityStatus")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="@Url.Action("SeeProjects", "Projects", new {Area="Admin", SortColumn = "AvailabilityStatus", IconClass="fa-sort-desc", PageNo=1})">AvailabilityStatus</a>

                if (ViewBag.SortColumn == "AvailabilityStatus")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }

        </th>

        <th style="width:15%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {


                <a href="@Url.Action("SeeProjects", "Projects", new {Area="Admin", SortColumn = "DateOfStart", IconClass="fa-sort-asc", PageNo=1})">Start Date</a>
                if (ViewBag.SortColumn == "DateOfStart")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="@Url.Action("SeeProjects", "Projects", new {Area="Admin", SortColumn = "DateOfStart", IconClass="fa-sort-desc", PageNo=1})">Start Date</a>

                if (ViewBag.SortColumn == "DateOfStart")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }

        </th>



    </tr>
    @foreach (var project in Model)
    {
        <tr>
            <td><img class="card-img-top" src="data:image;base64,@project.Photo" alt="Card image cap" /></td>
            <td>@Html.DisplayFor(item => project.ProjectID)</td>
            <td>@Html.DisplayFor(item => project.ProjectName)</td>
            <td>@Html.DisplayFor(item => project.Categories.CategoryName)</td>
            <td>@Html.DisplayFor(item => project.AvailablityStatus)</td>
            <td>@Html.DisplayFor(item => project.DateOfStart)</td>


        </tr>
    }

    <tr>
        <td colspan="9">
            @{
                int PrevPageNo = ViewBag.PageNo - 1;
                if (PrevPageNo == 0)
                {
                    PrevPageNo = 1;
                }
                int NextPageNo = ViewBag.PageNo + 1;
                if (NextPageNo > ViewBag.NoOfPages)
                {
                    NextPageNo = ViewBag.NoOfPages;
                }

            }
            <ul class="pagination justify-content-center">

                <li class="page-item">

                    <a class="page-link" href="@Url.Action("SeeProjects", "Projects", new { Area="Admin", SortColumn = ViewBag.SortColum, IconClass = ViewBag.IconClass, PageNo = PrevPageNo })">Prev</a>
                </li>
                @for (int i = 0; i < ViewBag.NoOfPages; i++)
                {
                    if (i + 1 == ViewBag.PageNo)
                    {
                        <li class="page-item active">

                            <a class="page-link" href="@Url.Action("SeeProjects", "Projects", new { Area="Admin", SortColumn = ViewBag.SortColum, IconClass = ViewBag.IconClass, PageNo = i + 1 })">@(i + 1)</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">

                            <a class="page-link" href="@Url.Action("SeeProjects", "Projects", new {Area="Admin", SortColumn = ViewBag.SortColum, IconClass = ViewBag.IconClass, PageNo = i + 1 })">@(i + 1)</a>
                        </li>

                    }


                }
                <li class="page-item">

                    <a class="page-link" href="@Url.Action("SeeProjects", "Projects", new {Area="Admin", SortColumn = ViewBag.SortColum, IconClass = ViewBag.IconClass, PageNo = NextPageNo })">Next</a>
                </li>

            </ul>

        </td>
    </tr>


</table>
<a href="@Url.Action("CreateProject","Projects", new {area="Admin"})">Create Project</a>